In [39]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
import nltk
nltk.download()
from nltk.corpus import stopwords

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

In [40]:
# load data
sms_raw = pd.read_csv("Data/sms_spam.csv")
print(sms_raw.shape)
sms_raw.sample(5)

(5574, 2)

     type                                               text
4158  ham  This single single answers are we fighting? Pl...
2796  ham                   How will I creep on you now? ;_;
4129  ham         I dont thnk its a wrong calling between us
1424  ham                   Lol great now im getting hungry.
2892  ham  Yeah there's quite a bit left, I'll swing by t...

In [41]:
sms_raw['type'] = sms_raw['type'].replace(['ham','spam'],[0,1])
X_text=sms_raw['text'].values
y = sms_raw['type'].values
print(X_text.shape)

(5574,)

In [51]:
sw = stopwords.words("english")
cv = CountVectorizer(stop_words =sw, analyzer='word')
X = cv.fit_transform(X_text).toarray()
X.shape

(5574, 8577)

In [50]:
X[0:5,:]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)